In [1]:
import pandas as pd
import numpy as np

In [4]:
df_beijing = pd.read_csv("data/Beijing_labeled.csv")
df_shenyang = pd.read_csv("data/Shenyang_labeled.csv")
df_train = pd.concat([df_beijing, df_shenyang], axis=0)
df_train

,season,DEWP,HUMI,PRES,TEMP,Iws,precipitation,cbwd_NE,cbwd_NW,cbwd_SE,PM_HIGH
0,4,-8.0,79.00,1026.0,-5.0,23.69,0.0,0,0,1,1.0
1,4,-11.0,85.00,1021.0,-9.0,105.93,1.1,0,0,1,0.0
2,4,-21.0,43.00,1030.0,-11.0,117.55,0.0,0,1,0,0.0
3,4,-25.0,33.00,1034.0,-12.0,39.35,0.0,1,0,0,0.0
4,4,-24.0,30.00,1034.0,-10.0,59.00,0.0,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
819,4,-22.0,50.63,1038.0,-14.0,4.00,0.0,0,0,0,1.0
820,4,-16.0,52.47,1034.0,-8.0,4.00,0.0,0,0,0,1.0
821,4,-13.0,45.91,1028.0,-3.0,40.00,0.0,0,0,1,1.0
822,4,-4.0,80.04,1029.0,-1.0,6.00,0.0,0,1,0,1.0
823,4,-8.0,79.42,1033.0,-5.0,4.00,0.0,0,0,0,1.0

In [14]:
df_guangzhou = pd.read_csv("data/Guangzhou_labeled.csv")
df_shanghai = pd.read_csv("data/Shanghai_labeled.csv")
df_test = pd.concat([df_guangzhou, df_shanghai], axis=0)

In [15]:
X_train = df_train.iloc[::, :-1] # features
Y_train = df_train.iloc[::,-1] # labels

X_test = df_test.iloc[::, :-1] # features
Y_test = df_test.iloc[::,-1] # labels

In [66]:
import numpy as np


class KNN:
    def __init__(self, X, Y, k: int = 10):
        self.X = X
        self.Y = Y
        self.k = k

    def predict(self, x) -> int:
        self.neighbors = np.zeros((self.X.shape[0], 3))

        for idx, row in self.X.iterrows():
            dist = self._euclid_distance(x, row.to_numpy())
            item_class = self.Y.iloc[idx]
            self.neighbors = self._update_neighbors(self.neighbors, item_class, dist, idx)

        # sort calculated neighbors by distance
        self.neighbors = self.neighbors[self.neighbors[:, 0].argsort()][::-1]
        prediction = self._pick_max()
        return prediction

    def score(self, x, y):
        pass

    def _pick_max(self):
        k_neighbors = self.neighbors[:self.k,::]
        cnt_zero = np.count_nonzero(k_neighbors == 0)
        cnt_one = np.count_nonzero(k_neighbors == 1)
        return 0 if cnt_zero > cnt_one else 1


    def _update_neighbors(self, neighbors, item_class, dist, idx):
        # add new neighbor to array and then sort it
        neighbors[idx][0], neighbors[idx][1], neighbors[idx][2] = dist, item_class, idx
        return neighbors

    def _euclid_distance(self, x, y):
        dist = np.linalg.norm(x - y)
        return dist

In [71]:
knn = KNN(X_train, Y_train)
x = X_test.iloc[10]
pred = knn.predict(x)
pred

0