In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/Beijing_labeled.csv")
df

,season,DEWP,HUMI,PRES,TEMP,Iws,precipitation,cbwd_NE,cbwd_NW,cbwd_SE,PM_HIGH
0,4,-8.0,79.0,1026.0,-5.0,23.69,0.0,0,0,1,1.0
1,4,-11.0,85.0,1021.0,-9.0,105.93,1.1,0,0,1,0.0
2,4,-21.0,43.0,1030.0,-11.0,117.55,0.0,0,1,0,0.0
3,4,-25.0,33.0,1034.0,-12.0,39.35,0.0,1,0,0,0.0
4,4,-24.0,30.0,1034.0,-10.0,59.00,0.0,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2066,4,-15.0,45.0,1040.0,-5.0,1.79,0.0,0,1,0,0.0
2067,4,-13.0,34.0,1036.0,1.0,40.24,0.0,0,1,0,0.0
2068,4,-8.0,50.0,1028.0,1.0,1.79,0.0,0,1,0,1.0
2069,4,-11.0,28.0,1031.0,6.0,23.24,0.0,0,1,0,0.0
2070,4,-10.0,37.0,1033.0,3.0,0.89,0.0,0,0,0,0.0

In [6]:
df.isna().sum()

season           0
DEWP             0
HUMI             0
PRES             0
TEMP             0
Iws              0
precipitation    0
cbwd_NE          0
cbwd_NW          0
cbwd_SE          0
PM_HIGH          0
dtype: int64